.right {
  text-align:right;
  width: 35%;
  float:right;
  padding-bottom: 5%;
  display: block;
}
.left {
  text-align:left;
  width: 35%;
  float:left;
  padding-bottom: 5%;
  display: block;
}
b{
  font-size:120%;
}
p{
  font-size:83%;
}